# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite DB
*.db

# Logs and local tokens
*.log
*.txt
*.json

# Token files and sensitive config
tokens.json
marzban_token.txt
config.py

# Poetry
.poetry/
poetry.lock

# Virtualenv (if created in project)
.env/
.venv/
env/
venv/
ENV/

# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Backup or temp files
*.bak
*.tmp
*.swp
*.swo
